body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: barlow semi condensed,sans-serif;
}

.header {
    text-align: center;
    background-color: rgb(101, 78, 98);
    padding: 1vh;
}

.carrousel-body{
    display: flex;
    padding-inline: 30vh;
    background-color: rgb(101, 78, 98);
    color: white;
    box-shadow: 0px 6px 5px rgb(181, 181, 181);
}

.carrousel-text{
    font-family: barlow semi condensed,sans-serif;
    text-shadow: 2px 2px 3px rgb(43, 43, 43);
    flex: 2;
    align-self: center;
}

.carrousel-img{
    flex: 1;
}

.header #logo{
    height: 100px;
}

.first-info-section{
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: barlow semi condensed,sans-serif;
    color: rgb(46, 46, 46);
}

.first-info-section img{
    box-shadow: 0px 3px 5px rgb(97, 97, 97);
}

.form-section{
    display: flex;
    flex-direction: column;
    font-family: barlow semi condensed,sans-serif;
    align-self: center;
    width: 100vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
}

.form-section input,.form-section textarea{
    margin-bottom: 10px;
}

#send{
    width: 100%;
}

.footer{
    text-align: center;
    padding-block: 10px;
    margin-top: 30px;
    background-color: rgb(101, 78, 98);
    color: aliceblue;
    box-shadow: 0px -6px 5px rgb(181, 181, 181);
}

#isotype{
    height: 50px;
}


